# Naive Bayes Implementation - Classification

In [41]:
import sklearn as sk 
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import datasets

iris = datasets.load_iris()
y = iris.target

df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df["target"] = y
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [43]:
df.loc[1:5, "petal width (cm)"]

1    0.2
2    0.2
3    0.2
4    0.2
5    0.4
Name: petal width (cm), dtype: float64

In [60]:
def split_data(data, test_ratio):
    np.random.seed(42)
    shuffled_indices = np.random.permutation(len(data))
    test_set_size = int(len(data) * test_ratio)
    test_indices = shuffled_indices[:test_set_size]
    train_indices = shuffled_indices[test_set_size:]
    return data.iloc[test_indices], data.iloc[train_indices]

    
test, train = split_data(df, 0.1)
train.loc[,]

sepal length (cm)    5.1
sepal width (cm)     3.5
petal length (cm)    1.4
petal width (cm)     0.2
target               0.0
Name: 0, dtype: float64

In [61]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline 
from sklearn.preprocessing import StandardScaler, OneHotEncoder, Normalizer
from sklearn.impute import SimpleImputer

# numerical 
numerical_feature = ['sepal length (cm)' , 'sepal width (cm) ', 'petal length (cm)', 'petal width (cm)']
cat_label = ['taget']

num_pipiline = PipeLine([
        ('imputer' , SimpleImputer(strategy='mean')),
        ('noriliser' , Normalizer()),
])

# cateogirical 

cat_pipieline = Pipeline([
        ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
        ('onehot', OneHotEncoder(categories='auto', handle_unknown='ignore'))

])

# Combine numercial and cetegorical
preproccessor = ColumnTransformer([
    ('num', num_pipeline(numerical_feature)),
    ('cat', cat_pipieline(cat_label)),
])

train_transformed = preproccessor.fit_transform(train)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3002335939.py, line 11)